.App {
    text-align: center;
    margin-top: 50px;
  }
  
  .activityList{
    margin: auto;
    margin-top: 20px;
    width: 50%;
    text-align: justify;
    border: 2px solid #666;
    padding: 10px;
  }
  
  .list{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  ul{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  
  .activityName{
    font-weight: bold;
    font-size: large;
    color: palevioletred;
  }
  
  .indexNo{
    font-size: large;
    text-align: center;
    padding: 5px;
    height: 30px;
    width: 36px;
    font-weight: bold;
    color: palevioletred;
  }
  
button.donebutton{
  margin-right: 20px;
 
}

  
  
  
  
  
  
  